.extended-combat-hud .ability-menu .ability {
    font-size: 1.7em;
}

.extended-combat-hud .ability-menu .ability.ability-title {
    font-size: 1.6em;
}

.extended-combat-hud .ability-menu .ability i {
    font-size: 1.2em;

}

.extended-combat-hud .player-detail {
    display: none;
}

.extended-combat-hud .player-name {
    display: none;
}

.extended-combat-hud .portrait-hud .player-button {
    display: none;
}


.extended-combat-hud .action-hud .actions-container:before {
    font-size: 2rem;
    text-shadow:
        0 1px 2px #000,
        0 2px 4px #000,
        0 3px 6px #000;
}

.extended-combat-hud .action-element-title {
    font-size: 1.4rem;
    /* Font size for action titles like "Greataxe", "Cast Spell" */
}

/* features like "Torch", "Rations" */

.extended-combat-hud .action-hud .feature-element-title {
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: none;
    font-size: 1.6rem;

}

.extended-combat-hud .action-hud .feature-element {
    background: rgba(0, 0, 0, 0.7) no-repeat center center;
    background-size: auto;
    height: 175px;
    width: 175px;
    flex: 0 0 175px;
}

.extended-combat-hud .feature-accordion-title {
    font-size: 1.6rem;
    /* Font size for accordion titles like "Innate Spellcasting" */
}

.extended-combat-hud .action-hud .actions-container[data-title="Action"]:before {
    background-color: rgb(0, 128, 0);
}


.extended-combat-hud .action-hud .actions-container[data-title="Bonus Action"]:before {
    content: "Bonus";
    background-color: rgb(255, 165, 0);
}

.extended-combat-hud .action-hud .actions-container[data-title="Reaction"]:before {
    background-color: rgb(200, 50, 200);
}

.extended-combat-hud .action-hud .actions-container[data-title="Special"]:before {
    background-color: rgb(0, 191, 255);
}