/* #controls {
    position: absolute;
    top: -35px;
    left: 15px;
    overflow: visible;
    z-index: 1000;
    padding: 0;
}

#controls .main-controls {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#controls .sub-controls {
    display: none;
}

#hotbar {
    transform: scale(0.75) translateY(10px);
} */