.extended-combat-hud .ability-menu .ability {
    font-size: 1.7em;
}

.extended-combat-hud .ability-menu .ability.ability-title {
    font-size: 1.6em;
}

.extended-combat-hud .ability-menu .ability i {
    font-size: 1.2em;

}

.extended-combat-hud .player-detail {
    display: none;
}

.extended-combat-hud .player-name {
    display: none;
}

.extended-combat-hud .portrait-hud .player-button {
    display: none;
}


.extended-combat-hud .action-hud .actions-container:before {
    font-size: 2rem;
    text-shadow:
        0 1px 2px #000,
        /* Bottom shadow */
        0 2px 4px #000,
        /* Slightly larger bottom shadow */
        0 3px 6px #000;
    /* Even larger bottom shadow */
}


.extended-combat-hud .action-hud .actions-container[data-title="Action"]:before {
    background-color: rgb(0, 128, 0);
}


.extended-combat-hud .action-hud .actions-container[data-title="Bonus Action"]:before {
    content: "Bonus";
    background-color: rgb(255, 165, 0);
}

.extended-combat-hud .action-hud .actions-container[data-title="Reaction"]:before {
    background-color: rgb(200, 50, 200);
}

.extended-combat-hud .action-hud .actions-container[data-title="Special"]:before {
    background-color: rgb(0, 191, 255);
}